<div class="body-wrapper">
    <div class="first-top-section-wrapper">
        <nav class="navigation-bar">
            <div class="wrapper">
                <div class="logo-wrapper">
                    <img src="../assets/Images/logo.svg" alt="Drive Club Logo">
                </div>
                <div class="link-wrapper">
                    <ul>
                        <li><a href="#" class="link-active">Home</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                    
                </div>
            </div>
            </nav>
        <svg width="100%" height="100%" class="dots">
            <defs>
                <pattern id="polka-dots" x="0" y="0" width="5" height="5" patternUnits="userSpaceOnUse">                
                    <circle fill="#CECECE" cx="1" cy="1" r="1" fill-opacity="0.1">
                    </circle>                
                </pattern>
            </defs>    
            <rect x="0" y="0" width="100%" height="100%" fill="url(#polka-dots)"></rect>
        </svg>
        <div class="wrapper">
            <div class="hero-left-content">
                <h1 class="h1-custom negative-bottom-margin">GOOSEBUMPS</h1>
                <h2 class="h2-custom">Come Standard</h2>
                <p class="hero-p">Discover the benefits of DRIVECLUB Trade-in and get a<br>free vehicle evaluation.</p>
                <button class="pink-btn"><span>Contact us</span></button>
            </div>
        </div>
    </div>
    <div class="middle-content">
        <div class="row-flex">
            <div class="left-m-content">
                <div class="left-m-center-content">
                    <h6>New Range</h6>
                    <h2 class="hero-h2">LA FERARRI</h2>
                    <a class="learn-more">Learn More</a>
                </div>
            </div>
            <div class="right-m-content">
                <div class="hero-image">
                    <img src="../assets/Images/car-1.jpg" alt="car" class="pic-middle">
                </div>
            </div>
        </div>
        <div class="row-flex rel-position">
            <div class="left-b-content">
                <div class="hero-image">
                    <img src="../assets/Images/car-2.jpg" alt="car" class="pic-middle">
                </div>
            </div>
            <div class="right-b-content">
                <div class="right-b-center-content">
                    <h6>New Range</h6>
                    <h2 class="hero-h2">MODEL S</h2>
                    <a class="learn-more">Learn More</a>
                </div>
            </div>
        </div> 
        <footer>
            <div class="wrapper">
                <div class="left-footer-content">
                    <img src="../assets/Images/logo.svg" alt="Drive Club Logo">
                    <p class="footer-p">&copy; Driveclub. All rights reserved.</p>
                    <div class="social-media-icon-wrapper">
                        <a href="#" class="social-link"><img src="../assets/Images/facebook.svg" alt="Facebook"></a>
                        <a href="#" class="social-link"><img src="../assets/Images/instagram.svg" alt="Instagram"></a>
                        <a href="#" class="social-link"><img src="../assets/Images/twitter.svg" alt="Twitter"></a>
                        <a href="#" class="social-link"><img src="../assets/Images/linkedin.svg" alt="Linkedin"></a>
                        <a href="#" class="social-link"><img src="../assets/Images/youtube.svg" alt="Linkedin"></a>
                    </div>
                </div>
                <div class="right-footer-content">
                    <div class="footer-rows">
                        <div class="footer-col-1">
                            <strong>MODELS</strong>
                            <p>LA FERRARI</p>
                            <P>MODEL S</P>
                        </div>
                        <div class="footer-col-2">
                            <strong>More</strong>
                            <p>Home</p>
                            <p>Contact Us</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>      
    </div>

</div>



